$font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$width-large : 1200px;

//colors
$white-color : #fff;

//card
$card-border-width : 1px;
$card-border-color :rgba(0,0,0,0.2);
$card-borde-radius : 0.25rem ;

//font

$font-size-base : 1rem;
$font-size-lg: 1.25rem;
$font-size-xlg : 1.5rem;